@{
    ViewBag.Title = "AddActivity";
}


<head>
    <title>Home</title>




    

</head>
<body>

    <nav class="navbar navbar-default" style="background-color:#F9864D; color:white;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" style="background-color:#F9864D; color:white;" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only" style="background-color:#F9864D; color:white;">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="background-color:#F9864D; color:white;">FUFCIT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li><a href="\Teacher\MarkAttendence"><label style="background-color:#F9864D; color:white;">Attendence</label> <span class="sr-only">(current)</span></a></li>
                    <li><a href="\Teacher\AddActivity"><label style="background-color:#F9864D; color:white;">Add Activity</label> </a></li>



                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Admin
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/Main " style="background-color:#F9864D; color:white;">Logout</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/Admin/ChangePassword" style="background-color:#F9864D; color:white;">Change Password </a></li>

                        </ul>
                    </div>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <label>A File Has been Uploaded</label>
    <form class="form-horizontal" role="form">
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-lg-offset-4">
                <div class="form-group">
                    <label for="inputEmail" class="col-md-4 control-label"><h1>Create Activity<h1></label>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-lg-offset-4">
                <div class="form-group">
                    <label for="inputEmail" class="col-md-4 control-label">Activity Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputEmail" placeholder="e.g Assignment 1">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-lg-offset-4">
                <div class="form-group">
                    <label for="inputEmail" class="col-md-4 control-label">Short Discription</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputEmail" placeholder="e.g 20">
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-lg-offset-4">
                <div class="form-group">
                    <button for="inputEmail" class="btn">Create Activity</button>

                </div>
            </div>
        </div>
    </form>
</body>