@{
    ViewBag.Title = "Index";
}





<body>
    <nav class="navbar navbar-default" style="background-color:#F9864D; color:white;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" style="background-color:#F9864D; color:white;" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only" style="background-color:#F9864D; color:white;">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="background-color:#F9864D; color:white;">Fake College</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li><a href="#"><label style="background-color:#F9864D; color:white;"></label> <span class="sr-only">(current)</span></a></li>
                    <li><a href="#"><label style="background-color:#F9864D; color:white;"></label> </a></li>



                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" style="background-color:#F9864D; color:white;"></a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="bs-example" style="height:20%;width:30%; margin-top:10%;margin-left:30%;">
        <form action="/Main/AcountValidation" method="post">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputPassword" name="Id" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="pass" placeholder="Password">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <label>Login Error</label>
    </div>
</body>